.container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  height: 60vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: white;
  margin-top: 20vh;
  width: 55%;
  max-width: 1200px;
  min-height: 600px;
}

.container h1 {
  color: #912338;
  margin: 20px 0 45px;
  text-align: center;
}
/*the container*/
.button-role {
  position: absolute;
  top: 20%;
  right: 58%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*the button*/
.button {
  display: block;
  margin: 50px 0;
  padding: 30px 40px;
  border: none;
  border-radius: 20px;
  background-color: #912338;
  color: white;
  cursor: pointer;
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  transition: background-color 0.2s ease, color 0.3s ease;
  width: 100%;
  max-width: 300px;
  align-self: flex-end;
}

.button.active {
  background-color: white;
  color: #912338;
}

.image {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  opacity: 1;
  filter: blur(2px);
}

.info {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 0;
  max-height: 90%;
  flex-grow: 1;
}

.info .textfield {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  box-sizing: border-box;
  line-height: normal;
  margin-bottom: 20px;
}

.info .button-signup {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  padding: 10px 20px;
  background-color: #912338;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .button-signup:hover {
  background-color: #f1aeb5;
  color: white;
}

.peer-title {
  position: absolute;
  top: 5%;
  right: 62%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  width: 300px;
}

/*For cellphone*/
@media only screen and (max-width: 900px) {
  .container {
    width: auto;
    margin: auto;
    height: 60vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: white;
    margin-top: 20vh;
    max-width: 400px;
  }

  .image {
    display: none;
  }

  .button {
    margin: 2px 0;
    padding: 35px 30px;
    color: #912338;
    transition: background-color 0.3s ease, color 0.3s ease,
      border-color 0.3s ease;
    width: auto;
    max-width: none;
    align-self: auto;
  }

  .button-role {
    top: auto;
    right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
    padding: 0px;
  }

  .button.active {
    background-color: #f1aeb5;
    color: white;
    padding: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container h1 {
    margin: 5px 0 5px;
  }

  .peer-title {
    display: none;
  }
}
