
@import './styles/config/config.scss';

.header {
  position: absolute;
  width: 100%;
  height: 0px;
  z-index: 99;

  @include media-query($medium-down) {
    background: var(--color-white);
    box-shadow: 0 5px 30px 0 rgba(0,0,0,0.20);
  }

  &__wrapper {
      position: relative;
      padding: 0 24px;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;

      @include media-query($large-up) {

        &[data-nav-position="center"] {
          grid-template-columns: 10% 80% 10%;
        }
      }
  }
}