name: Build the Project

on:
  push:
    branches:
      - main
      - 'sprint-*'
  pull_request:
    branches:
      - main
      - 'sprint-*'
  workflow_dispatch:
    branches:
      - '**'

jobs:
  backend-tests:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Cache Python dependencies
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install ODBC Driver for SQL Server
      run: |
        curl https://packages.microsoft.com/keys/microsoft.asc | sudo apt-key add -
        curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list | sudo tee /etc/apt/sources.list.d/mssql-release.list
        sudo apt-get update
        sudo ACCEPT_EULA=Y apt-get install -y msodbcsql18
    
    - name: Parse and set DB connection environment variables
      run: |
        echo "${{ secrets.DB_CONNECTION }}" > temp_env_file
        while IFS= read -r line; do
          echo "$line" >> $GITHUB_ENV
        done < temp_env_file
        rm temp_env_file

    - name: Set PYTHONPATH
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)

    - name: Install backend dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install -r requirements.txt

    - name: Run backend tests
      run: |
        export PYTHONPATH=$PYTHONPATH:$(pwd)
        source venv/bin/activate
        pytest backend/tests/test_backend_setup.py

  frontend-tests:
    runs-on: ubuntu-latest
    needs: backend-tests

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Cache Node.js modules
      uses: actions/cache@v2
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'

    - name: Install frontend dependencies
      run: |
        cd frontend
        npm install
        npm install react-router-dom axios @mui/material @emotion/react @emotion/styled

    - name: Run frontend tests
      run: |
        cd frontend
        npm run test -- --ci --coverage
